#landingMain{
    background-image: url('https://i.imgur.com/P5z7CzP.png');
    background-size: cover;
    height: 90vh;
    width: 100vw;
    /* position: relative; */
}

#tvSetIMG{
    /* object-fit: contain; */
    /* border: 2px;
    border-style: solid;
    border-color: blue;
    position: relative; */
}

#tvIMG{
    z-index: 1;
    position: absolute;
    width: 100vw;
    
}


#insideTV{
    
    position: relative;
    background-color: aqua;
    bottom: 26em; 

}

#otdIMG{
    height: 21em;
    display: block;
    margin: auto;
}
.row{
    border: 2px;
    border-style: solid;
    border-color: blue;
    
    height: 90vh;
}

.col{
    border: 2px;
    border-style: solid;
    border-color: red;
}